[Unit]
Description=Crankshaft Plugin Manager

[Service]
ExecStart=/usr/bin/flatpak run space.crankshaft.Crankshaft
ExecStop=-/usr/bin/pkill -x crankshaft
ExecStopPost=-/usr/bin/flatpak run space.crankshaft.Crankshaft -cleanup

Restart=on-failure
StartLimitBurst=10
StartLimitIntervalSec=10

[Install]
WantedBy=default.target